@charset "UTF-8";

* {margin:0px; padding:0px}
li {list-style:none;}
img {display:block;}
a {display:block;
   text-decoration:none;
   color:black;}
   
body {width:1280px;
	  background-color:#fcfbfa;
	  font-family:'Noto Sans CJK KR',고딕,'sans-serif';
	  margin:0 auto;}
	  
#header {width:1280px; height:180px;
		 border-bottom:1px solid #cbcbcb;
		 position:relative;}

#header:after {content:""; dispaly:block; clear:both;}

.logo {width:1200px; height:50px;
	   font-size:35px;
	   text-align:center;
	   cursor:pointer;
	   margin:20px auto;}

#contents {width:1280px;
		   background-color:#fcfbfa;
		   overflow:hidden;}