<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GoodsMapper">

<select id="goodsList" resultType="GoodsDTO" parameterType="string">
	select gCode,gcategory,gName,gPrice,gAmount,gImage
	from goods
	where gcategory = #{gcategory}
</select> 

<select id="goodsDetail" resultType="GoodsDTO" parameterType="string">
	select gCode,gcategory, gName, gPrice, gAmount, gImage
	from goods 
	where gcode = #{gcode}
</select>

<select id="bundleDetail" resultType="BundleDTO" parameterType="string">
	select *
	from bundle
	where gcode = #{gcode}
</select>

<select id="variationDetail" resultType="VariationDTO" parameterType="string">
	select *
	from variation
	where gcode = #{gcode}
</select>

<insert id="cartAdd" parameterType="CartDTO">
		insert into cart (num, userid,gcode,gname,gprice,
		        bcategory,vcategory,gamount,gimage)
		values(cart_seq.nextval,#{userid},#{gcode},#{gname},#{gprice},
		        #{bcategory},#{vcategory}, #{gamount}, #{gimage} )
	</insert>
	
<select id="cartList" parameterType="string" 
	resultType="CartDTO">
	 select num,userid,gCode,gName,gPrice, bCategory,vCategory,gAmount,gImage
	 from cart
	 where userid=#{userid}
</select>


<select id="cartByNum" parameterType="int" 
	resultType="CartDTO">
	 select num,userid,gCode,gName,gPrice, bCategory,vCategory,gAmount,gImage
	 from cart
	 where num=#{num}
	</select>


	<delete id="cartAllDel" parameterType="arraylist">
	  delete
	  from cart
	  where num IN 
	  <foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	
	<delete id="cartDel" parameterType="int">
		delete from cart
		where num=#{num}
	</delete>

	<update id="cartUpdate" parameterType="hashmap">
	 update cart
	 set gamount= #{gamount}
	 where num=#{num}
	</update>
	
	<!-- 남은 재고 계산하여 goods 테이블 업데이트 -->
	<update id="updateAmount" parameterType="HashMap">
		UPDATE GOODS SET GAMOUNT = GAMOUNT - #{gamount} WHERE GCODE = #{gcode}
	</update>
	
	<!-- 전체상품 주문 -->
	<select id="orderAllConfirm" parameterType="arraylist" 
	resultType="CartDTO">
	 select num,userid,gCode,gName,gPrice, bCategory,vCategory,gAmount,gImage
	 from cart
	 where num
	 IN
	 <foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
	 </foreach>
	</select> 
	
	<!-- 상품검색 -->
	 <select id="findgoods"  resultType="GoodsDTO" parameterType="string">
	
		select gCode,gcategory,gName,gPrice,gAmount,gImage
		from goods
		where gName = #{gName}
	
	</select>
	
	


</mapper>
